# Python
venv/
__pycache__/
*.py[cod]
*$py.class
*.sqlite
*.sqlite3
*.db
data/
uploads/
receipts/
.env
credentials.json
token.json

# Node & Frontend
node_modules/
.DS_Store
.vscode/
.idea/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

